#form{
    background-color: rgb(255, 214, 139);
    border: 1px solid green;
display: flex;
flex-direction: column;
width: 400px;
gap: 20px;
align-items: center;
margin: auto;
}
#form>input{
    width: 80%;
    height: 25px;
}
#form>:last-child{
    width: 40%;
    height: 25px;
margin-bottom: 20px;
}